body {
    font-family: sans-serif;
}
H1 {
   
    color: green ;

    text-align: center ;

}

h2 {
    color:black ;
    text-align: center ;

}

h3 {
    text-align: center;
    color: crimson
    
}

h4 {
    text-align: center ;
    color: black 
    }


h5{ 
    text-align:center ;
    font-size: 40px ;
}

img {
    width: 700px ;
    height: 500px ;
    img-align:center ;
}


h6 {
    text-align: center;
    color: crimson  ;
    font-size: 20px ;
    margin-top: 20px ;



    }

big {

margin-top: 5px  ;
   
    }
