html { 
   background-img: url(https://oir.mobi/uploads/posts/2021-03/1616436872_38-p-zadnii-fon-dlya-intro-45.jpg);
   opacity: 0.6;
}

body {
    font-family: sans-serif;
}
H1 {
   
    color: green ;
    text-align: center ;
     
}

h2 {
    color:black ;
    text-align: center ;
      

}

h3 {
    text-align: center;
    color: crimson
     
}

h4 {
    text-align: center ;
    color: black 
       
    }


h5{ 
    text-align:center ;
   }


h6 {
    text-align: center;
    color: crimson  ;
    
    margin-top: 20px ;
}

big {

margin-top: 5px  ;
   
    }

p {
    font-size: 12px ;
}


a:focus {
color: green;
}

img {
   height: 1100px; 
   width: 700px;
}





