body {
    font-family: sans-serif;
}
H1 {
   
    color: green ;
    text-align: center ;
     
}

h2 {
    color:black ;
    text-align: center ;
      

}

h3 {
    text-align: center;
    color: crimson
     
}

h4 {
    text-align: center ;
    color: black 
       
    }


h5{ 
    text-align:center ;
   
}

img {
    width: 700px ;
    height: 500px ;
   
}


h6 {
    text-align: center;
    color: crimson  ;
    
    margin-top: 20px ;



    }

big {

margin-top: 5px  ;
   
    }

p {
    font-size: 12px ;
}

a:hover{
color: green;
}

a:visited {
    color:grey;
}
